body{
    background: url('https://i.imgur.com/cthzbve.png');
    background-size: cover;
}

form{
    align-items: center;
    
    background-color: #f0f0f5; 
    border-radius: 8px;
    margin: 80px auto;
    padding-top: 65px;
    padding-bottom: 65px;
    max-width: 1000px;
    box-sizing: border-box;
}

#dinena_title{
    font-size: 100px;
    background: -webkit-linear-gradient(#c73326, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 5px;
}

.title_header{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;

    font-family: 'Bebas Neue', cursive;
}

.pre_register_text{
    font-family: 'Poppins', sans-serif;
    color: #a84032;

    margin-top: 30px;
}

button{
    width: 260px;
    height: 56px;
    margin-top: 40px;
    background: -webkit-linear-gradient(#c73326, #333);
    border-radius: 8px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 400ms;
    border: 0;

    font-family: 'Poppins', sans-serif;
}

button:hover{
    background: url('https://media.giphy.com/media/xUA7aW1ddSxtVT5zzi/giphy.gif');
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #c73326;	
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
     rgba(255, 255, 255, .2) 50%,
     rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
  }

  .modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;

    font-family: 'Poppins', sans-serif;
  }

  .close{
    position: absolute;
    top: 0;
    margin-left: 450px;
    margin-top: 20px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  #googleButton{
    margin-top: 45px;
    margin-left: 190px;
  }

  #userName{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    color: #c73326;
  }